<div id="new"><form action="/shoes" method="post">
  <input type="text" name="name" placeholder="Shoe Name" autofocus="autofocus">
  <input type="text" name="size" placeholder="Shoe Size">
  <input type="submit" value="Add Shoe">
</form>
</div>