<h1>About This Shoe</h1>
<table border="black">
  <thead>
  <tr class="title">
    <td>Name</td>
    <td>Size</td>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= shoes[:name] %></td>
      <td><%= shoes[:size] %></td>
    </tr>
  </tbody>
</table>